@tailwind base;
@tailwind components;
@tailwind utilities;


@media screen and (max-width:290px){
    .login-logo-img{
        height: 4.5rem;
    }
}

.custom-bg{
    background: linear-gradient(transparent,rgba(0,0,0,1));
    background-color: #1a4752;
}

.navigation-shift{
    transform: translateX(-500%);
}

.navigation-animation {
    animation: slide;
    transition: all 0.3s ease-in-out;
}

@keyframes slide{
    100%{
        transform: translateX(0);
    }
}